// $val: number or percentage
@mixin grayscale($val) {
  // thanks to http://www.karlhorky.com/2012/06/cross-browser-image-grayscale-with-css.html

  // Firefox 3.5+
  // convert to decimal and invert
  $decimal: 1 - ($val / 100%);
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='#{$decimal}'/></filter></svg>#grayscale");

  // IE 6-9
  filter: gray;

  // Google Chrome & Safari 6+
  -webkit-filter: grayscale($val);

  filter: grayscale($val);
}
